<body>
    <header>
        <h1>Hiago</h1>
        <div class="Header-titulo">
            <p>Praticando Angular</p>
        </div>
    </header>

    <section>
        <div class="Container">
           <h1>Cliente {{name}} </h1> 
            <div class="btns-lado">
                <button class="btn-container" (click)="submit()">Carregar</button>
                <button class="btn-container" (click)="submit2()">Limpar</button>
            </div>
            <p>{{ mensagem }}</p>
        </div>
        <div class="Container">
            <h1>Cliente 2</h1>
            
        </div>
        <div class="Container">
            <h1>Cliente 3</h1>
        </div>

    </section>


   
</body>
 <footer>
        <div class="rodape">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magni soluta eaque praesentium temporibus inventore, </p>            
        </div>


    </footer>

<!-- @if(mostrarConteudo)
{
<p>Mostrando item Oculto</p>
}@else{
<p>Sem permissão</p>
} -->